header {
  text-align: center;
  background-color: #aba85d;
  width: 100%;
}

nav {
  width: 20%;
  border: 5px solid green;
  float: right;
}

main {
  padding-left: 5%;
  padding-right: 2%;
  border: 5px solid red;
  margin-right: 20%;
}

footer {
  width: 100%;
  text-align: center;
}

.nextDay {
  display: inline;
}
